<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Manager 3.0</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1 id="season">2024 Summer Season</h1>
    <hr>
    <h3>チャート</h3>
    <div id="graph">
        <canvas id="transition" class="graphCanvas"></canvas>
        <canvas id="ratio" class="graphCanvas"></canvas>
    </div>
    <hr>
    <div id="summary">
        <h2 id="summaryText">summary</h2>
        <div class="container" id="stack"><p>スタック</p><h2></h2></div>
        <div class="container" id="star"><p>殿堂入り</p><h2></h2></div>
        <div class="container" id="average"><p>平均</p><h2></h2></div>
        <div class="container" id="median"><p>中央値</p><h2></h2></div>
        <div class="container" id="maximum"><p>最大値</p><h2></h2></div>
        <div class="container" id="minimum"><p>最小値</p><h2></h2></div>
        <div class="container" id="debt"><p>借金</p><h2></h2></div>
    </div>
    <hr>
    <canvas id="rankingChart"></canvas>

    <script src="script.js"></script>
    <div id="cover" class="hide"></div>
</body>
</html>
